*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px #4f5b6c, 8px 8px 15px #2c323e;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    margin: 10px;

}
.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.equal{
    width: 145px;
}